* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .container1 {
    display: flex;
    justify-content: center;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 60vh;
  }
  
  .container > div {
    width: 100px;
    height: 140px;
    border-radius: 10%;
    background-color: blue;
  }

  .card {
    margin-left: 20px;
    width: 400px;
  }